.comment-formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-form {
    width: 40%;
    margin-top: 15px;
}

.comment-label {
    color: black;
    font-size: 20px;
    padding-bottom: 40px;
}

.comment-input {
    padding: 2%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgba(0,0,0,0);
    margin-bottom: 3%;
    background-color: white;
}

.comment-btn {
    background-color: #FFE066;
    border: 0;
    width: 100%;
    padding: 1%;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    min-height: 40px;
    margin-top: 1%;
}

.comments-wrapper {
    text-align: center;
    background-color: beige;
    color: black;
}

@media screen and (max-width: 2320px) {
    .comments-wrapper {
      margin: 20px 900px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 2110px) {
    .comments-wrapper {
      margin: 20px 850px;
      border-radius: 15px;
    }
}
 
@media screen and (max-width: 2020px) {
    .comments-wrapper {
      margin: 20px 800px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1910px) {
    .comments-wrapper {
      margin: 20px 750px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1800px) {
    .comments-wrapper {
      margin: 20px 700px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1685px) {
    .comments-wrapper {
      margin: 20px 650px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1590px) {
    .comments-wrapper {
      margin: 20px 600px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1480px) {
    .comments-wrapper {
      margin: 20px 550px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1365px) {
    .comments-wrapper {
      margin: 20px 500px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1275px) {
    .comments-wrapper {
      margin: 20px 450px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1200px) {
    .comments-wrapper {
      margin: 20px 400px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1111px) {
    .comments-wrapper {
      margin: 20px 375px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1050px) {
    .comments-wrapper {
      margin: 20px 350px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 1000px) {
    .comments-wrapper {
      margin: 20px 325px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 940px) {
    .comments-wrapper {
      margin: 20px 300px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 880px) {
    .comments-wrapper {
      margin: 20px 275px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 810px) {
    .comments-wrapper {
      margin: 20px 250px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 760px) {
    .comments-wrapper {
      margin: 20px 225px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 726px) {
    .comments-wrapper {
      margin: 20px 200px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 680px) {
    .comments-wrapper {
      margin: 20px 175px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 635px) {
    .comments-wrapper {
      margin: 20px 150px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 575px) {
    .comments-wrapper {
      margin: 20px 125px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 500px) {
    .comments-wrapper {
      margin: 20px 100px;
      border-radius: 15px;
    }
}

@media screen and (max-width: 475px) {
    .comment-form {
        width: 80%;
    }
}
  
@media screen and (max-width: 450px) {
    .comments-wrapper {
      margin: 20px 80px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 410px) {
    .comments-wrapper {
      margin: 20px 65px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 365px) {
    .comments-wrapper {
      margin: 20px 50px;
      border-radius: 15px;
    }
}
  
@media screen and (max-width: 325px) {
    .comments-wrapper {
      margin: 20px 30px;
      border-radius: 15px;
    }
}