.createPost-formWrapper {
    display: flex;
    height: calc(100vh);
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)),
        url('../assets/images/create-post.jpg');
    background-size: cover;
    align-items: center;
}

.createPost-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.createPost-label {
    margin: 10px 0;
}

.createPost-input {
    padding: 10px;
    background-color: white;
    border: none;
    opacity: 0.8;
}

.createPost-input-review {
    height: 200px;
    background-color: white;
    opacity: 0.8;
}

.createPost-input::selection {
    background-color: white;
}

.createPost-btn {
    margin-top: 20px;
    cursor: pointer;
}