.createPost-formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    align-items: center;
    height: 600px;
    background-image: url('../assets/images/create-post-theatre-seats.jpg');
}

.create-title {
    margin-left: 25px;
}

.createPost-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.createPost-label {
    margin: 10px 0;
    border-radius: 10px;
    color: white;
    font-size: larger;
    font-weight: 900;
}

.createPost-input {
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
}

.createPost-input-review {
    height: 200px;
    background-color: white;
    opacity: 0.8;
}

.createPost-input::selection {
    background-color: white;
}

.createPost-btn {
    margin-top: 20px;
    cursor: pointer;
    background-color: #FFE066;
    border: 0;
    width: 100%;
    padding: 1%;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    min-height: 40px;
    margin-top: 1%;
}