header {
    margin: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header h1 {
    font-size: 2.25rem;
}

@media screen and (max-width: 401px) {
    .header {
        width: 100%;
        justify-content: center;
    }

    .header-title {
        margin-bottom: 5px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 385px) {
    .header {
        padding-bottom: 5px;
    }
}