.UserFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    height: calc(100vh);
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
    ),
        url('../assets/images/movies-background.jpg');
    background-size: cover;
}

.login-title,
.login-p {
    color: white;
}

.UserFormWrapper p {
    padding-bottom: 1%;
}

.UserForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.UserForm div {
    flex: 2 100%;
}

.UserForm p {
    color: white;
}

.UserForm p a {
    color: #ccc;
}

.UserForm p a:hover {
    color: #FFE066;
}

.login-input {
    padding: 2%;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgba(0,0,0,0);
    margin-bottom: 3%;
    background-color: white;
}

.login-label {
    color: white
}

.login-btn {
    background-color: #FFE066;
    border: 0;
    width: 100%;
    padding: 1%;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    min-height: 40px;
    margin-top: 1%;
}

@media all and (max-width: 1200px ){
    .login-input{
        width: 100%
    }
    .login-btn{
        width: 100%    
    }
}

@media all and (max-width: 992px ){
    .login-input{
        width: 80%
    }
    .login-btn{
        width: 80%    
    }
}

@media all and (max-width: 768px ){
    .login-input{
        width: 60%
    }
    .login-btn{
        width: 60%    
    }
}  

@media all and (max-width: 600px ){
    .login-input{
        width: 50%
    }
    .login-btn{
        width: 50%    
    }
}
  
 
  