nav {
    display: flex;
    align-items: center;
    flex: 0 20%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-right: 10px;
}

nav ul li{
    list-style: none;
    margin-left: 50px;
}

.navBar-movies {
    margin-right: 50px;
}

a {
    text-decoration: none;
}

@media all and (max-width: 768px ){

    nav ul li{
        margin-left: 15px;
    }
}