.PostCard {
  background-color: #1e1e1e;
  color: white;
  margin: 20px 900px;
  border-radius: 25px;
  box-shadow: 0 2px 20px grey;
}

.PostDetails {
  padding: 10px;
}

.Rating {
  color: #ffe066;
}

.post-edit-delete-btn-wrapper {
  display: flex;
  margin: 10px;
  padding-top: 10px;
  flex-direction: row-reverse;
}

.post-edit-btn {
  margin-right: 5px;
  background-color: green;
  cursor: pointer;
}

.post-delete-btn {
  background-color: darkred;
  cursor: pointer;
}

.post-edit-btn,
.post-delete-btn {
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
}

.modal-selected {
  opacity: 0.9;
  background-color: lightgray;
  border-radius: 10px;
}

.post-Link {
  color: #ffe066;
}

.post-username {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
}

@media screen and (max-width: 2320px) {
  .PostCard {
    margin: 20px 850px;
  }
}

@media screen and (max-width: 2110px) {
  .PostCard {
    margin: 20px 800px;
  }
}

@media screen and (max-width: 2020px) {
  .PostCard {
    margin: 20px 750px;
  }
}

@media screen and (max-width: 1910px) {
  .PostCard {
    margin: 20px 700px;
  }
}

@media screen and (max-width: 1800px) {
  .PostCard {
    margin: 20px 650px;
  }
}

@media screen and (max-width: 1685px) {
  .PostCard {
    margin: 20px 600px;
  }
}

@media screen and (max-width: 1590px) {
  .PostCard {
    margin: 20px 550px;
  }
}

@media screen and (max-width: 1480px) {
  .PostCard {
    margin: 20px 500px;
  }
}

@media screen and (max-width: 1365px) {
  .PostCard {
    margin: 20px 5450px;
  }
}

@media screen and (max-width: 1275px) {
  .PostCard {
    margin: 20px 400px;
  }
}

@media screen and (max-width: 1200px) {
  .PostCard {
    margin: 20px 375px;
  }
}

@media screen and (max-width: 1111px) {
  .PostCard {
    margin: 20px 350px;
  }
}

@media screen and (max-width: 1050px) {
  .PostCard {
    margin: 20px 325px;
  }
}

@media screen and (max-width: 1000px) {
  .PostCard {
    margin: 20px 300px;
  }
}

@media screen and (max-width: 940px) {
  .PostCard {
    margin: 20px 275px;
  }
}

@media screen and (max-width: 880px) {
  .PostCard {
    margin: 20px 250px;
  }
}

@media screen and (max-width: 810px) {
  .PostCard {
    margin: 20px 225px;
  }
}

@media screen and (max-width: 760px) {
  .PostCard {
    margin: 20px 200px;
  }
}

@media screen and (max-width: 726px) {
  .PostCard {
    margin: 20px 175px;
  }
}

@media screen and (max-width: 680px) {
  .PostCard {
    margin: 20px 150px;
  }
}

@media screen and (max-width: 635px) {
  .PostCard {
    margin: 20px 125px;
  }
}

@media screen and (max-width: 575px) {
  .PostCard {
    margin: 20px 100px;
  }
}

@media screen and (max-width: 500px) {
  .PostCard {
    margin: 20px 80px;
  }
}

@media screen and (max-width: 450px) {
  .PostCard {
    margin: 20px 70px;
  }
}

@media screen and (max-width: 410px) {
  .PostCard {
    margin: 20px 65px;
  }
}

@media screen and (max-width: 365px) {
  .PostCard {
    margin: 20px 50px;
  }
}

@media screen and (max-width: 325px) {
  .PostCard {
    margin: 20px 30px;
  }
}
