.singlePost-wrapper {
    align-self: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.4),
        rgba(255, 255, 255, 0.4)
    ),
        url('../assets/images/movie-list-bg.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    padding-top: 20px;
    padding-bottom: 15px;
}